@model Category

<h2>Admin Page</h2>
<a asp-action="CreateDropDown">Till Drop down list Category</a>
<form asp-action="Create" method="post">
    Pie Name<input name="PieName" />
    Add new Pie Category<input name="PieCategory" />




    @*<div>
        <label>Categories:</label><br />
        @*<asp:DropDownList ID="CategoryId" runat="server" Width="200px">
            <asp:ListItem Text="Select Category" Value="0"></asp:ListItem>
            
                <asp:ListItem Text="Cheese Cakes" Value="1"></asp:ListItem>
           
            <asp:ListItem Text="Fruit Cakes" Value="2"></asp:ListItem>
            <asp:ListItem Text="Seasonal Pies" Value="3"></asp:ListItem>
            <asp:ListItem Text="Blueberry" Value="4"></asp:ListItem>
        </asp:DropDownList>*@

        @*<select>
            <option value="value1">Pie1</option>
            <option value="value1">Pie2</option>
        </select>
    </div>

    Category2
    <div>
        <asp:DropDownList ID="Category" runat="server" DataSourceID="SqlDataSource1"
                             DataTextField="CategoryName" DataValueField="CategoryId" AppendDataBoundItems="true">
            <asp:ListItem Text="Please select" Value="" />
        </asp:DropDownList>
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="Server=(localdb)\\MSSQLLocalDB;Database=BethanysPieShop2;Trusted_Connection=True;MultipleActiveResultSets=true"
                              SelectCommand="SELECT CategoryName FROM Category">
        </asp:SqlDataSource>
    </div>*@


    <input type="submit" value="Ok" />
</form>






@*<asp:GridView ID="gvCategory" runat="server" DataKeyNames="CategoryID" OnRowDataBound="GridView_RowDataBound" OnDataBound="GridView_DataBound">
    <Columns>
        <asp:TemplateField HeaderText="Category">
            <ItemTemplate>
                <asp:DropDownList ID="ddlCategory" runat="server" DataSourceID="sdsCategory" DataTextField="CategoryName" DataValueField="CategoryId">
                </asp:DropDownList>
                <asp:SqlDataSource ID="sdsCategory" runat="server"
                                   SelectCommand="SELECT CategoryId,CategoryName FROM Category"></asp:SqlDataSource>
            </ItemTemplate>
        </asp:TemplateField>
    </Columns>
</asp:GridView>*@






@*<asp:DropDownList ID="ddlSubject" runat="server" AppendDataBoundItems="true">
    <asp:ListItem Text="<Select Subject>" Value="0" />
</asp:DropDownList>*@








@*<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Pie" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pie" class="form-control" />
                <span asp-validation-for="Pie" class="text-danger"></span>
            </div>
            <label asp-for="Category" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create Pie" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</form>*@
